* {
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: "PTSans";
	src: url(fonts/PTSans.ttf);
}

@font-face {
    font-family: SourceCodePro-Light;
    src: url(fonts/SourceCodePro-Light.otf);
}
    
@font-face {
    font-family: SourceCodePro-Medium;
    src: url(fonts/SourceCodePro-Medium.otf);
}

.noselect {
    user-select: none;
}

body {

}

header {
    z-index: 1;
    display: flex;
    flex-direction: row;
    
    min-width: 1024px;
    height: 200px;

    background: red;
    /*background: url(img/header-bg-tiled.png);
    background-position: center;
    background-size: 50%;
    background-repeat: repeat-x;*/
    
    box-shadow: 0px 10px 59px 6px rgba(0, 0, 0, 0.42);
}

#header-title {
    z-index: 2;
    width: 350px;
    
    background: url(img/header-left.png);
    background-size: cover;
}

#header-mid {
    z-index: 1;
    width: 360px;
    
    margin-left: -110px;
    
    background: url(img/header-mid.png);
    background-size: cover;
}

#container {
    min-height: 2000px; 
}

#background {
    z-index: -1;
    position: fixed;
    top: 0;
    
    width: 100%;
    height: 100%; 
    
    background: black;
}

footer {
    height: 200px;
}