* {
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: "PTSans";
	src: url(fonts/PTSans.ttf);
}

@font-face {
    font-family: SourceCodePro-Light;
    src: url(fonts/SourceCodePro-Light.otf);
}
    
@font-face {
    font-family: SourceCodePro-Medium;
    src: url(fonts/SourceCodePro-Medium.otf);
}

.noselect {
    user-select: none;
}

body {

}

header {
    z-index: 1;
    display: flex;
    flex-direction: row;
    
    min-width: 1024px;
    height: 200px;

    background: red;
    /*background: url(img/header-bg-tiled.png);
    background-position: center;
    background-size: 50%;
    background-repeat: repeat-x;*/
    
    box-shadow: 0px 10px 59px 6px rgba(0, 0, 0, 0.42);
}

#header-title {
    z-index: 2;
    width: 350px;
    
    background: url(img/header-left.png);
    background-size: cover;
}

#header-mid {
    z-index: 1;
    width: 360px;
    
    margin-left: -110px;
    
    background: url(img/header-mid.png);
    background-size: cover;
}

#container {
    min-height: 2000px; 
}

#background {
    z-index: -1;
    position: fixed;
    top: 0;
    
    width: 100%;
    height: 100%; 
    
    background: black;
}

#mtop {
    height: 100px;
    
    background: blue;
    box-shadow: inset 0px 18px 40px 0px rgba(0, 0, 0, 0.6);
}

#mleft {
    width: 300px;
}

.mleft-room {
    display: flex;
    flex-direction: row;
    
    /*height: 60px;*/
    
    transition: 0.2s;
    background: rgb(60, 63, 65);
    border-bottom: 2px solid rgb(30, 30, 30);
}

.mleft-room:hover {
    cursor: pointer;
    background: rgb(46, 48, 49);
    box-shadow: inset 0px 0px 70px -16px rgba(0,0,0,0.5);
}

.mleft-icon {
    width: 40px;
    height: 40px;
    
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.mleft-room-item {
    display: flex;
    flex-direction: column;
    
    margin-top: 6px;
    margin-left: 10px;
}

.mleft-room-title {
    margin-top: 2px;
    
    color: rgb(225, 225, 225);
    font-family: PTSans, Arial;
    font-size: 12pt;
}

.mleft-room-status {
    margin-top: 5px;
    
    color: rgb(154, 148, 148);
    font-family: SourceCodePro-Medium, Arial;
    font-size: 9pt;
}

.mleft-room-container {
    display: none;
    margin-bottom: 10px;
    height: 100px;
}

.mleft-button {
    display: flex;
    flex-direction: row;
    
    padding: 2px 0;
    transition: 0.2s;
    background: rgb(69, 75, 80);
    border-bottom: 2px solid rgb(30, 30, 30);
    
}

.mleft-button-title {
    margin-top: 17px;
    margin-left: 10px;
    
    color: rgb(225, 225, 225);
    font-family: PTSans, Arial;
    font-size: 16pt;
}

.mleft-button:hover {
    background: rgb(46, 56, 64);
    box-shadow: inset 0px 0px 70px -16px rgba(0,0,0,0.5);
    cursor: pointer;
}

footer {
    height: 200px;
}